- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/doc.css', :type => 'text/css'}
  %script{:src => '/javascripts/jquery.autogrow.js', :type => 'text/javascript'}
  %script{:src => '/javascripts/doc.js', :type => 'text/javascript'}
#content
  %h1= @document.title
  %textarea{:spellcheck => "false"}= @document.versions.last.text
  %audio{:src => "/audio/keystroke.mp3", :preload => "auto"}
#stats
  #wordcount
    %p.label Word count
    %p.value 0
  #charcount
    %p.label Character count
    %p.value 0
