- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/edit.css', :type => 'text/css'}
  %script{:src => '/javascripts/jquery.autogrow.js', :type => 'text/javascript'}
  %script{:src => '/javascripts/edit.js', :type => 'text/javascript'}
#content
  %h1= @document.title
  %textarea{:spellcheck => "false"}= @document.versions.last.text
#url
  %p.label Editing link
  %p.value
    %a.url{:href => @document.short_url_edit, :target => 'blank'}= @document.short_url_edit || request.url
  %p.label Public link
  %p.value
    %a.url{:href => @document.short_url, :target => 'blank'}= @document.short_url || request.url
#stats
  #wordcount
    %p.label Words
    %p.value 0
  #charcount
    %p.label Characters
    %p.value 0
