- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/index.css', :type => 'text/css'}
  %script{:src => '/javascripts/index.js', :type => 'text/javascript'}
#content
  %h1 Nascent Words
  %ol
    %li Pick a title for your text.
    %li Enjoy a simple, beautiful word processor that makes sure your document saved at all times, keep track of the word count and alerts you when you're loosing focus.
    %li There's no step three.  
  %form{:method => 'POST'}
    %input.text{:type => 'text', :name => 'title'}
    %input.submit{:type => 'submit', :value => 'Start Writing'}