!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
	%head
		%title
			= @title || 'Nascent Words'
		%meta{ :'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
		%script{ :src => 'http://code.jquery.com/jquery-1.5.2.min.js', :type => 'text/javascript' }
		%link{ :href => 'http://fonts.googleapis.com/css?family=Lora|Merriweather|Dancing+Script:700&v2', :rel => 'stylesheet', :type => 'text/css'}
		= yield_content :head
	%body
		= yield